<html>
    <head>
        <title> Blogger's Blog</title>
        <link rel="stylesheet" type= "text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" type = "text/css" href ="/stylesheets/app.css">
    </head>
    <body>
        <div class= "ui fixed inverted menu ">
            <div class= "ui container">
                <div class= "header item"><i class = "comments icon"></i> Blogger's Blog</div>
            
            <a href="/" class ="item">Home</a>
            <a href="/blogs/new" class ="item">New post</a></div>
        </div>
 